config/rtld-api.flows.json
[
  {
    "id": "c2f8291c.676488",
    "type": "tab",
    "label": "/api/sdrs/",
    "disabled": false,
    "info": ""
  },
  {
    "id": "bfdafc03.4c5d3",
    "type": "tab",
    "label": "/api/sdrs/:key/:prop/:value",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c1e86410.14bed8",
    "type": "http in",
    "z": "c2f8291c.676488",
    "name": "get-keys",
    "url": "sdrs",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 80,
    "wires": [["3a54c6bf.bf7f9a"]]
  },
  {
    "id": "121301a1.c43e0e",
    "type": "http response",
    "z": "c2f8291c.676488",
    "name": "",
    "statusCode": "",
    "headers": { "Access-Control-Allow-Origin": "*" },
    "x": 650,
    "y": 80,
    "wires": []
  },
  {
    "id": "3a54c6bf.bf7f9a",
    "type": "function",
    "z": "c2f8291c.676488",
    "name": "read-sdr-keys",
    "func": "const payload = Object.keys(global.get('sdrs')||{});\nreturn {...msg, payload};",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 80,
    "wires": [["121301a1.c43e0e"]]
  },
  {
    "id": "cc195abf.55b7a8",
    "type": "http in",
    "z": "bfdafc03.4c5d3",
    "name": "put-prop",
    "url": "/sdrs/:key/:prop/:value",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 60,
    "wires": [["93fcff0e.fe17b", "5f596759.a857c8"]]
  },
  {
    "id": "99f06b70.6a4978",
    "type": "http response",
    "z": "bfdafc03.4c5d3",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 620,
    "y": 140,
    "wires": []
  },
  {
    "id": "93fcff0e.fe17b",
    "type": "change",
    "z": "bfdafc03.4c5d3",
    "name": "set-packet",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.req.params.prop&\" \"&msg.req.params.value",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 200,
    "wires": [["99f06b70.6a4978", "17b6532d.03846d"]]
  },
  {
    "id": "8bdddb3.1f87928",
    "type": "http in",
    "z": "c2f8291c.676488",
    "name": "get-settings",
    "url": "sdrs/:key",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 110,
    "y": 140,
    "wires": [["e9cf4c4f.ba459"]]
  },
  {
    "id": "c6a0fcb8.25d2d",
    "type": "http response",
    "z": "c2f8291c.676488",
    "name": "",
    "statusCode": "",
    "headers": { "Access-Control-Allow-Origin": "*" },
    "x": 650,
    "y": 140,
    "wires": []
  },
  {
    "id": "e9cf4c4f.ba459",
    "type": "function",
    "z": "c2f8291c.676488",
    "name": "read-sdr-settings",
    "func": "const db = global.get('sdrs') || {};\nconst payload = db[msg.req.params.key]||{}\nreturn {...msg, payload};",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 140,
    "wires": [["c6a0fcb8.25d2d"]]
  },
  {
    "id": "651bf7c3.ded4c8",
    "type": "http in",
    "z": "c2f8291c.676488",
    "name": "post-settings",
    "url": "sdrs/:key",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 110,
    "y": 200,
    "wires": [["746c240c.77342c"]]
  },
  {
    "id": "7de0cac2.5e3c04",
    "type": "http response",
    "z": "c2f8291c.676488",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 200,
    "wires": []
  },
  {
    "id": "746c240c.77342c",
    "type": "function",
    "z": "c2f8291c.676488",
    "name": "save-sdr-settings",
    "func": "const db = global.get('sdrs') || {};\ndb[msg.req.params.key] = msg.payload;\nglobal.set('sdrs', db);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 200,
    "wires": [["7de0cac2.5e3c04", "15552a6b.11f136"]]
  },
  {
    "id": "bc3a2e6d.839da",
    "type": "function",
    "z": "c2f8291c.676488",
    "name": "update-sdr-property",
    "func": "const db = global.get('sdrs') || {};\nconst {key,prop,value} = msg.req.params;\nconst sdr = db[key] || {};\nsdr[prop] = value;\ndb[key] = sdr;\nglobal.set('sdrs', db);\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 280,
    "wires": [["15552a6b.11f136"]]
  },
  {
    "id": "ff7d98f4.de5c68",
    "type": "link in",
    "z": "c2f8291c.676488",
    "name": "to-update-sdr-settings",
    "links": ["5f596759.a857c8"],
    "x": 135,
    "y": 280,
    "wires": [["bc3a2e6d.839da"]]
  },
  {
    "id": "5f596759.a857c8",
    "type": "link out",
    "z": "bfdafc03.4c5d3",
    "name": "from-put-freq",
    "links": ["ff7d98f4.de5c68"],
    "x": 435,
    "y": 60,
    "wires": []
  },
  {
    "id": "17b6532d.03846d",
    "type": "dgram",
    "z": "bfdafc03.4c5d3",
    "name": "",
    "host": "rtld",
    "port": "6020",
    "packet": "",
    "eof": false,
    "x": 450,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "15552a6b.11f136",
    "type": "debug",
    "z": "c2f8291c.676488",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 580,
    "y": 380,
    "wires": []
  }
]
