predictd-api/flows.json
[
  {
    "id": "c2f8291c.676488",
    "type": "tab",
    "label": "/api/satellites",
    "disabled": false,
    "info": ""
  },
  {
    "id": "9558b132.5865d",
    "type": "tab",
    "label": "/api/satellites/:name",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8f28c878.9b4398",
    "type": "tab",
    "label": "/api/satellites/:name/doppler",
    "disabled": false,
    "info": ""
  },
  {
    "id": "261b320.5b442ce",
    "type": "tab",
    "label": "/api/ephemeris/:name",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d434c563.5549e8",
    "type": "tab",
    "label": "/api/sys/:op",
    "disabled": false,
    "info": "Possible operations:\n\n - reload\n - version\n - time\n - mode\n - location"
  },
  {
    "id": "b9621a9e.3e7f58",
    "type": "tab",
    "label": "/api/satellite/:name/tle",
    "disabled": false,
    "info": ""
  },
  {
    "id": "f80f822c.f2f4c",
    "type": "tab",
    "label": "/api/satellites/:name/pos",
    "disabled": false,
    "info": ""
  },
  {
    "id": "655cb106.81203",
    "type": "tab",
    "label": "/api/satellites/:name/predict",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c1e86410.14bed8",
    "type": "http in",
    "z": "c2f8291c.676488",
    "name": "get-satellite-list-req",
    "url": "satellites",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 80,
    "wires": [["f4c60908.6d9728"]]
  },
  {
    "id": "60ddc1d5.480ed",
    "type": "dgram",
    "z": "c2f8291c.676488",
    "name": "",
    "host": "predictd",
    "port": "1210",
    "x": 290,
    "y": 220,
    "wires": [["3a08be0.1627742"]]
  },
  {
    "id": "3a08be0.1627742",
    "type": "function",
    "z": "c2f8291c.676488",
    "name": "jsonify",
    "func": "msg.payload = msg.payload.trim('\\n').split('\\n');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 280,
    "wires": [["121301a1.c43e0e"]]
  },
  {
    "id": "a2f49fac.595a9",
    "type": "http in",
    "z": "9558b132.5865d",
    "name": "get-satellite-req",
    "url": "satellites/:name",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 80,
    "wires": [["d38aea94.e7bd88"]]
  },
  {
    "id": "2cbc9d59.c089f2",
    "type": "dgram",
    "z": "9558b132.5865d",
    "name": "",
    "host": "predictd",
    "port": "1210",
    "x": 340,
    "y": 220,
    "wires": [["a8b20aaf.5f5388"]]
  },
  {
    "id": "d38aea94.e7bd88",
    "type": "change",
    "z": "9558b132.5865d",
    "name": "set-command",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'GET_SAT '&msg.req.params.name",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 160,
    "y": 200,
    "wires": [["2cbc9d59.c089f2"]]
  },
  {
    "id": "a8b20aaf.5f5388",
    "type": "function",
    "z": "9558b132.5865d",
    "name": "jsonify",
    "func": "const items = msg.payload.trim('\\n').split('\\n');\nconst props = \"name,lon,lat,az,el,nextEvent,footprint,range,altitude,velocity,orbitNum,visibility,orbitalPhase,eclipseDepth,squint\".split(',');\n\nmsg.payload = {};\n\nprops.forEach((prop,i)=>msg.payload[prop]=items[i]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 520,
    "y": 280,
    "wires": [["565c3cb9.88d5f4"]]
  },
  {
    "id": "f4c60908.6d9728",
    "type": "change",
    "z": "c2f8291c.676488",
    "name": "set-command",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "GET_LIST",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 220,
    "y": 160,
    "wires": [["60ddc1d5.480ed"]]
  },
  {
    "id": "cde21c7e.56293",
    "type": "http in",
    "z": "8f28c878.9b4398",
    "name": "get-doppler-req",
    "url": "satellites/:name/doppler",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 80,
    "wires": [["1c3fd3af.135f1c"]]
  },
  {
    "id": "294f680e.6b9628",
    "type": "dgram",
    "z": "8f28c878.9b4398",
    "name": "",
    "host": "predictd",
    "port": "1210",
    "x": 380,
    "y": 220,
    "wires": [["c74121e4.9bc0d"]]
  },
  {
    "id": "1c3fd3af.135f1c",
    "type": "change",
    "z": "8f28c878.9b4398",
    "name": "set-command",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'GET_DOPPLER '&msg.req.params.name",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 200,
    "y": 200,
    "wires": [["294f680e.6b9628"]]
  },
  {
    "id": "c74121e4.9bc0d",
    "type": "function",
    "z": "8f28c878.9b4398",
    "name": "jsonify",
    "func": "const doppler = msg.payload.trim('\\n')\nmsg.payload = {doppler};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 560,
    "y": 280,
    "wires": [["942474bb.d9d498"]]
  },
  {
    "id": "dc1c046.ef779f8",
    "type": "http in",
    "z": "261b320.5b442ce",
    "name": "ephemeris-req",
    "url": "ephemeris/:name",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 100,
    "wires": [["fd2afc5.3eb62"]]
  },
  {
    "id": "8fe7f9c0.d8ed88",
    "type": "dgram",
    "z": "261b320.5b442ce",
    "name": "",
    "host": "predictd",
    "port": "1210",
    "packet": "",
    "x": 390,
    "y": 300,
    "wires": [["f821b562.28f8e8"]]
  },
  {
    "id": "fd2afc5.3eb62",
    "type": "change",
    "z": "261b320.5b442ce",
    "name": "set-command",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'GET_'&$uppercase(msg.req.params.name)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 200,
    "y": 220,
    "wires": [["8fe7f9c0.d8ed88"]]
  },
  {
    "id": "f821b562.28f8e8",
    "type": "function",
    "z": "261b320.5b442ce",
    "name": "jsonify",
    "func": "const items = msg.payload.trim('\\n').split('\\n');\nitems.unshift(msg.req.params.name);\nconst props = \"name,az,el,dec,greenwichHourAngle,ra\".split(',');\n\nmsg.payload = {};\n\nprops.forEach((prop,i)=>msg.payload[prop]=items[i]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 540,
    "y": 240,
    "wires": [["9e17d425.ffef38"]]
  },
  {
    "id": "b371c067.60647",
    "type": "dgram",
    "z": "d434c563.5549e8",
    "name": "",
    "host": "predictd",
    "port": "1210",
    "packet": "",
    "x": 370,
    "y": 300,
    "wires": [["bea3a3a3.892b8"]]
  },
  {
    "id": "dc5292d9.b2b2a",
    "type": "http in",
    "z": "d434c563.5549e8",
    "name": "sys-req",
    "url": "sys/:op",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 100,
    "wires": [["4c8721cf.161db"]]
  },
  {
    "id": "bea3a3a3.892b8",
    "type": "function",
    "z": "d434c563.5549e8",
    "name": "jsonify",
    "func": "const payload = {};\nswitch(msg.req.params.op){\n   case 'reload':\n     payload[msg.req.params.op] = 'ok';\n    break;\n    case 'time':\n        payload['utc'] = msg.payload.trim();\n    break;\n  case  'location':\n   case 'qth':\n       const items = msg.payload.trim().split('\\n');\n       payload['location'] = {\n           'designation':items[0],\n           'lat':items[1],\n           'lon':items[2],\n           'elevation':items[3]\n       }\n    break;\n    default:\n        payload[msg.req.params.op] = msg.payload.trim();\n}\nreturn {...msg, payload};",
    "outputs": 1,
    "noerr": 0,
    "x": 520,
    "y": 240,
    "wires": [["578538fc.160dd8"]]
  },
  {
    "id": "4c8721cf.161db",
    "type": "function",
    "z": "d434c563.5549e8",
    "name": "set-command",
    "func": "const commands = {\n    \"reload\":\"RELOAD_TLE\",\n    \"version\":\"GET_VERSION\",\n    \"location\":\"GET_QTH\",\n    \"qth\":\"GET_QTH\",\n    \"time\":\"GET_TIME\",\n    \"mode\":\"GET_MODE\"\n};\nmsg.payload = commands[msg.req.params.op];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 240,
    "y": 200,
    "wires": [["b371c067.60647"]]
  },
  {
    "id": "b14bdeeb.60766",
    "type": "http in",
    "z": "b9621a9e.3e7f58",
    "name": "tle-req",
    "url": "satellites/:name/tle",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 120,
    "wires": [["6f32ef7.519531"]]
  },
  {
    "id": "b9eded99.6f72d",
    "type": "dgram",
    "z": "b9621a9e.3e7f58",
    "name": "",
    "host": "predictd",
    "port": "1210",
    "x": 380,
    "y": 260,
    "wires": [["e0a9d315.46744"]]
  },
  {
    "id": "6f32ef7.519531",
    "type": "change",
    "z": "b9621a9e.3e7f58",
    "name": "set-command",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'GET_TLE '&msg.req.params.name",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 200,
    "y": 240,
    "wires": [["b9eded99.6f72d"]]
  },
  {
    "id": "e0a9d315.46744",
    "type": "function",
    "z": "b9621a9e.3e7f58",
    "name": "jsonify",
    "func": "const payload = {\n    \"name\": msg.req.params.name,\n    \"tle\":msg.payload\n}\nreturn {...msg, payload};",
    "outputs": 1,
    "noerr": 0,
    "x": 560,
    "y": 260,
    "wires": [["db5da92b.d530e8"]]
  },
  {
    "id": "e6b2eac9.2d5c08",
    "type": "http in",
    "z": "f80f822c.f2f4c",
    "name": "pos-req",
    "url": "satellites/:name/pos",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 100,
    "wires": [["695ca27d.8ff25c"]]
  },
  {
    "id": "d6e4b163.4f096",
    "type": "dgram",
    "z": "f80f822c.f2f4c",
    "name": "",
    "host": "predictd",
    "port": "1210",
    "packet": "",
    "eof": true,
    "x": 400,
    "y": 240,
    "wires": [["849ffe76.cac55"]]
  },
  {
    "id": "695ca27d.8ff25c",
    "type": "change",
    "z": "f80f822c.f2f4c",
    "name": "set-command",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'GET_SAT_POS '&msg.req.params.name",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 180,
    "y": 240,
    "wires": [["3c3f4be4.497834"]]
  },
  {
    "id": "849ffe76.cac55",
    "type": "function",
    "z": "f80f822c.f2f4c",
    "name": "jsonify",
    "func": "const props = [\"utc\", undefined, undefined, undefined, \"el\", \"az\", \"orbitalPhase\", \"lat\", \"lon\", \"range\", \"unk\", \"visibility\"];\n\nconst toObj = (props, vals) => { \n    const o = {};\n    props.forEach((prop,i) => {if(prop) o[prop] = vals[i];});\n    return o;\n}\n\nconst payload = {\n    \"name\": msg.req.params.name,\n    \"pos\":msg.payload.trim().split('\\n').map(x => toObj(props,x.replace(/\\s+/g, ' ').split(' ')))\n}\nreturn {...msg, payload};",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 240,
    "wires": [["375313a2.edceec"]]
  },
  {
    "id": "c0d79bc2.654a58",
    "type": "http in",
    "z": "655cb106.81203",
    "name": "predict-req",
    "url": "satellites/:name/predict",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 100,
    "wires": [["92915fe2.aa72f"]]
  },
  {
    "id": "f1a6956.1308568",
    "type": "http response",
    "z": "655cb106.81203",
    "name": "",
    "statusCode": "",
    "headers": { "Access-Control-Allow-Origin": "*" },
    "x": 650,
    "y": 100,
    "wires": []
  },
  {
    "id": "6c958547.438adc",
    "type": "dgram",
    "z": "655cb106.81203",
    "name": "",
    "host": "predictd",
    "port": "1210",
    "packet": "",
    "eof": true,
    "x": 380,
    "y": 240,
    "wires": [["8282bcf9.89b03"]]
  },
  {
    "id": "92915fe2.aa72f",
    "type": "change",
    "z": "655cb106.81203",
    "name": "set-command",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'PREDICT '&msg.req.params.name",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 160,
    "y": 240,
    "wires": [["9980dc59.3467c"]]
  },
  {
    "id": "8282bcf9.89b03",
    "type": "function",
    "z": "655cb106.81203",
    "name": "jsonify",
    "func": "const props = [\"utc\", undefined, undefined, undefined, \"el\", \"az\", \"orbitalPhase\", \"lat\", \"lon\", \"range\", \"unk\", \"visibility\"];\n\nconst toObj = (props, vals) => { \n    const o = {};\n    props.forEach((prop,i) => {if(prop) o[prop] = vals[i];});\n    return o;\n}\n\nconst payload = {\n    \"name\": msg.req.params.name,\n    \"pos\":msg.payload.trim().split('\\n').map(x => toObj(props,x.replace(/\\s+/g, ' ').split(' ')))\n}\nreturn {...msg, payload};",
    "outputs": 1,
    "noerr": 0,
    "x": 560,
    "y": 240,
    "wires": [["f1a6956.1308568"]]
  },
  {
    "id": "9980dc59.3467c",
    "type": "function",
    "z": "655cb106.81203",
    "name": "add-start-end",
    "func": "const packet = [msg.payload];\nconst query = msg.req.query;\n\n['start', 'end'].forEach(param => {\n    if(query[param]){\n     packet.push(query[param]);\n   }\n});\n\nreturn {...msg, payload:packet.join(' ')};",
    "outputs": 1,
    "noerr": 0,
    "x": 280,
    "y": 340,
    "wires": [["6c958547.438adc"]]
  },
  {
    "id": "3c3f4be4.497834",
    "type": "function",
    "z": "f80f822c.f2f4c",
    "name": "add-start-end",
    "func": "const packet = [msg.payload];\nconst query = msg.req.query;\n\n['start', 'end'].forEach(param => {\n    if(query[param]){\n     packet.push(query[param]);\n   }\n});\n\nreturn {...msg, payload:packet.join(' ')};",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 340,
    "wires": [["d6e4b163.4f096"]]
  },
  {
    "id": "375313a2.edceec",
    "type": "http response",
    "z": "f80f822c.f2f4c",
    "name": "",
    "statusCode": "",
    "headers": { "Access-Control-Allow-Origin": "*" },
    "x": 650,
    "y": 80,
    "wires": []
  },
  {
    "id": "db5da92b.d530e8",
    "type": "http response",
    "z": "b9621a9e.3e7f58",
    "name": "",
    "statusCode": "",
    "headers": { "Access-Control-Allow-Origin": "*" },
    "x": 630,
    "y": 120,
    "wires": []
  },
  {
    "id": "578538fc.160dd8",
    "type": "http response",
    "z": "d434c563.5549e8",
    "name": "",
    "statusCode": "",
    "headers": { "Access-Control-Allow-Origin": "*" },
    "x": 570,
    "y": 80,
    "wires": []
  },
  {
    "id": "9e17d425.ffef38",
    "type": "http response",
    "z": "261b320.5b442ce",
    "name": "",
    "statusCode": "",
    "headers": { "Access-Control-Allow-Origin": "*" },
    "x": 590,
    "y": 80,
    "wires": []
  },
  {
    "id": "942474bb.d9d498",
    "type": "http response",
    "z": "8f28c878.9b4398",
    "name": "",
    "statusCode": "",
    "headers": { "Access-Control-Allow-Origin": "*" },
    "x": 630,
    "y": 100,
    "wires": []
  },
  {
    "id": "565c3cb9.88d5f4",
    "type": "http response",
    "z": "9558b132.5865d",
    "name": "",
    "statusCode": "",
    "headers": { "Access-Control-Allow-Origin": "*" },
    "x": 630,
    "y": 100,
    "wires": []
  },
  {
    "id": "121301a1.c43e0e",
    "type": "http response",
    "z": "c2f8291c.676488",
    "name": "",
    "statusCode": "",
    "headers": { "Access-Control-Allow-Origin": "*" },
    "x": 610,
    "y": 140,
    "wires": []
  }
]
