sdrd-api/.flows.json.backup
[{"id":"bfdafc03.4c5d3","type":"tab","label":"/api/sdrs/:key/:prop/:value","disabled":false,"info":""},{"id":"cc195abf.55b7a8","type":"http in","z":"bfdafc03.4c5d3","name":"post-sdr-settings","url":"/sdrs","method":"post","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["99f06b70.6a4978","c446f072.5f06a"]]},{"id":"99f06b70.6a4978","type":"http response","z":"bfdafc03.4c5d3","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":610,"y":60,"wires":[]},{"id":"475e08fb.fb4a38","type":"debug","z":"bfdafc03.4c5d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":160,"wires":[]},{"id":"29f6072b.aa6658","type":"function","z":"bfdafc03.4c5d3","name":"mk-packets","func":"function toPacket(k,v){\n    return k + \" \" + v;\n}\n\nconst keys = Object.keys(msg.payload);\nconst msgs = keys.map(k=>{\n    return {\n        host:msg.req.query.host,\n        port:msg.req.query.port,\n        payload:toPacket(k,msg.payload[k])\n    };\n});\n\nreturn [msgs];","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["7b7a5591.f9770c"]]},{"id":"c446f072.5f06a","type":"change","z":"bfdafc03.4c5d3","name":"adj-freq","rules":[{"t":"set","p":"payload.freq","pt":"msg","to":"payload.freq*1e6","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":280,"wires":[["29f6072b.aa6658"]]},{"id":"4d88a8c4.4e2328","type":"inject","z":"bfdafc03.4c5d3","name":"","topic":"","payload":"{\"host\":\"sdrd\",\"port\":6020,\"packet\":\"freq 89900000\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["475e08fb.fb4a38","38808978.9584f6"]]},{"id":"7b7a5591.f9770c","type":"function","z":"bfdafc03.4c5d3","name":"mk-rtl-udp-packet","func":"let [cmd, data] = msg.payload.packet.split(' ');\nlet buffer = '';\n\nswitch(cmd){\n    case 'freq':\n        buffer += String.fromCharCode(0);\n        break;\n    case 'mode':\n        buffer += String.fromCharCode(1);\n        break;\n    case 'squelch':\n        buffer += String.fromCharCode(2);\n        break;\n    case 'gain':\n        if(data==='auto') data=-100;\n        buffer += String.fromCharCode(3);\n        break;\n    case 'agc':\n        data = data==='on'?1:0;\n        buffer += String.fromCharCode(8);\n        break;\n    default:\n        throw 'unknown rtl_udp command';\n}\n\ndata = Number.parseInt(data);\n\nfor(let i=0;i<4;i++){\n    buffer += String.fromCharCode(data & 0xff);\n    data = data >> 8;\n}\n\nmsg.payload = buffer;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["475e08fb.fb4a38"]]},{"id":"38808978.9584f6","type":"change","z":"bfdafc03.4c5d3","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"payload.host","tot":"jsonata"},{"t":"set","p":"port","pt":"msg","to":"payload.port","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":460,"wires":[["7b7a5591.f9770c"]]}]