sdrd-api/flows.json
[{"id":"bfdafc03.4c5d3","type":"tab","label":"/api/sdrs/:key/:prop/:value","disabled":false,"info":""},{"id":"cc195abf.55b7a8","type":"http in","z":"bfdafc03.4c5d3","name":"post-sdr-settings","url":"/sdrs","method":"post","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["99f06b70.6a4978","29f6072b.aa6658","475e08fb.fb4a38"]]},{"id":"99f06b70.6a4978","type":"http response","z":"bfdafc03.4c5d3","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":610,"y":60,"wires":[]},{"id":"475e08fb.fb4a38","type":"debug","z":"bfdafc03.4c5d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":140,"wires":[]},{"id":"29f6072b.aa6658","type":"function","z":"bfdafc03.4c5d3","name":"mk-packets","func":"function toPacket(k,v){\n    return k + \" \" + v;\n}\n\nconst keys = Object.keys(msg.payload);\nconst msgs = keys.map(k=>{\n    return {\n        payload:toPacket(k,msg.payload[k])\n    };\n});\n\nreturn [msgs];","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["52d6cc8d.5faef4","475e08fb.fb4a38"]]},{"id":"4d88a8c4.4e2328","type":"inject","z":"bfdafc03.4c5d3","name":"","topic":"","payload":"freq 89.9M","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["52d6cc8d.5faef4"]]},{"id":"52d6cc8d.5faef4","type":"rtl-sdr","z":"bfdafc03.4c5d3","name":"","host":"sdrd","port":"6020","packet":"","eof":false,"x":590,"y":300,"wires":[[]]},{"id":"515b4151.14444","type":"inject","z":"bfdafc03.4c5d3","name":"","topic":"","payload":"freq 88.7M","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["52d6cc8d.5faef4"]]},{"id":"ac1b690d.d1fd38","type":"inject","z":"bfdafc03.4c5d3","name":"","topic":"","payload":"freq 92.9M","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["52d6cc8d.5faef4"]]}]