api/.flows.json.backup
[{"id":"c2f8291c.676488","type":"tab","label":"satellite list","disabled":false,"info":""},{"id":"cfc9a21e.fb6a7","type":"tab","label":"next events","disabled":false,"info":""},{"id":"9558b132.5865d","type":"tab","label":"satellite info","disabled":false,"info":""},{"id":"8f28c878.9b4398","type":"tab","label":"satellite doppler","disabled":false,"info":""},{"id":"261b320.5b442ce","type":"tab","label":"ephemeris","disabled":false,"info":""},{"id":"d434c563.5549e8","type":"tab","label":"system operations","disabled":false,"info":"Possible operations:\n\n - reload\n - version\n - time\n - mode\n - location"},{"id":"b9621a9e.3e7f58","type":"tab","label":"satellite tle","disabled":false,"info":""},{"id":"f80f822c.f2f4c","type":"tab","label":"satellite position","disabled":false,"info":""},{"id":"655cb106.81203","type":"tab","label":"satellite prediction","disabled":false,"info":"Get the next pass of the satellite for the current QTH."},{"id":"830bcc0c.f611a","type":"tab","label":"sdr control","disabled":false,"info":""},{"id":"8cdfa596.27d788","type":"tab","label":"Stream control","disabled":false,"info":""},{"id":"cb9f0e4f.f11e4","type":"subflow","name":"parse pos","info":"","category":"","in":[{"x":160,"y":100,"wires":[{"id":"5745b428.f0ca6c"}]}],"out":[{"x":780,"y":140,"wires":[{"id":"a81119fc.60ced8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c1e86410.14bed8","type":"http in","z":"c2f8291c.676488","name":"","url":"satellites","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["f4c60908.6d9728"]]},{"id":"60ddc1d5.480ed","type":"dgram","z":"c2f8291c.676488","name":"","host":"predictd","port":"1210","packet":"","x":290,"y":220,"wires":[["3a08be0.1627742"]]},{"id":"3a08be0.1627742","type":"function","z":"c2f8291c.676488","name":"split-and-join","func":"msg.payload = msg.payload.trim('\\n').split('\\n');\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["121301a1.c43e0e"]]},{"id":"a2f49fac.595a9","type":"http in","z":"9558b132.5865d","name":"","url":"satellites/:name","method":"get","upload":false,"swaggerDoc":"","x":170,"y":60,"wires":[["d38aea94.e7bd88"]]},{"id":"2cbc9d59.c089f2","type":"dgram","z":"9558b132.5865d","name":"","host":"predictd","port":"1210","x":330,"y":180,"wires":[["c8132a61.634118"]]},{"id":"d38aea94.e7bd88","type":"change","z":"9558b132.5865d","name":"packet","rules":[{"t":"set","p":"payload","pt":"msg","to":"'GET_SAT '&msg.req.params.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":200,"wires":[["2cbc9d59.c089f2"]]},{"id":"f4c60908.6d9728","type":"change","z":"c2f8291c.676488","name":"packet","rules":[{"t":"set","p":"payload","pt":"msg","to":"GET_LIST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":160,"wires":[["60ddc1d5.480ed"]]},{"id":"cde21c7e.56293","type":"http in","z":"8f28c878.9b4398","name":"","url":"satellites/:name/doppler","method":"get","upload":false,"swaggerDoc":"","x":210,"y":80,"wires":[["1c3fd3af.135f1c"]]},{"id":"294f680e.6b9628","type":"dgram","z":"8f28c878.9b4398","name":"","host":"predictd","port":"1210","x":380,"y":220,"wires":[["c74121e4.9bc0d"]]},{"id":"1c3fd3af.135f1c","type":"change","z":"8f28c878.9b4398","name":"packet","rules":[{"t":"set","p":"payload","pt":"msg","to":"'GET_DOPPLER '&msg.req.params.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":200,"wires":[["294f680e.6b9628"]]},{"id":"c74121e4.9bc0d","type":"function","z":"8f28c878.9b4398","name":"jsonify","func":"const doppler = msg.payload.trim('\\n')\nmsg.payload = {doppler};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["942474bb.d9d498"]]},{"id":"dc1c046.ef779f8","type":"http in","z":"261b320.5b442ce","name":"","url":"ephemeris/:name","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["fd2afc5.3eb62"]]},{"id":"8fe7f9c0.d8ed88","type":"dgram","z":"261b320.5b442ce","name":"","host":"predictd","port":"1210","packet":"","x":390,"y":300,"wires":[["f821b562.28f8e8"]]},{"id":"fd2afc5.3eb62","type":"change","z":"261b320.5b442ce","name":"packet","rules":[{"t":"set","p":"payload","pt":"msg","to":"'GET_'&$uppercase(msg.req.params.name)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":220,"wires":[["8fe7f9c0.d8ed88"]]},{"id":"f821b562.28f8e8","type":"function","z":"261b320.5b442ce","name":"jsonify","func":"const items = msg.payload.trim('\\n').split('\\n');\nitems.unshift(msg.req.params.name);\nconst props = \"name,az,el,dec,greenwichHourAngle,ra\".split(',');\n\nmsg.payload = {};\n\nprops.forEach((prop,i)=>msg.payload[prop]=items[i]);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["9e17d425.ffef38"]]},{"id":"b371c067.60647","type":"dgram","z":"d434c563.5549e8","name":"","host":"predictd","port":"1210","packet":"","x":370,"y":300,"wires":[["bea3a3a3.892b8"]]},{"id":"dc5292d9.b2b2a","type":"http in","z":"d434c563.5549e8","name":"","url":"sys/:op","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["4c8721cf.161db"]]},{"id":"bea3a3a3.892b8","type":"function","z":"d434c563.5549e8","name":"jsonify","func":"const payload = {};\nswitch(msg.req.params.op){\n   case 'reload':\n     payload[msg.req.params.op] = 'ok';\n    break;\n    case 'time':\n        payload['utc'] = msg.payload.trim();\n    break;\n  case  'location':\n   case 'qth':\n       const items = msg.payload.trim().split('\\n');\n       payload['location'] = {\n           'designation':items[0],\n           'lat':items[1],\n           'lon':items[2],\n           'elevation':items[3]\n       }\n    break;\n    default:\n        payload[msg.req.params.op] = msg.payload.trim();\n}\nreturn {...msg, payload};","outputs":1,"noerr":0,"x":520,"y":240,"wires":[["578538fc.160dd8"]]},{"id":"4c8721cf.161db","type":"function","z":"d434c563.5549e8","name":"packet","func":"const commands = {\n    \"reload\":\"RELOAD_TLE\",\n    \"version\":\"GET_VERSION\",\n    \"location\":\"GET_QTH\",\n    \"qth\":\"GET_QTH\",\n    \"time\":\"GET_TIME\",\n    \"mode\":\"GET_MODE\"\n};\nmsg.payload = commands[msg.req.params.op];\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["b371c067.60647"]]},{"id":"b14bdeeb.60766","type":"http in","z":"b9621a9e.3e7f58","name":"","url":"satellites/:name/tle","method":"get","upload":false,"swaggerDoc":"","x":200,"y":120,"wires":[["6f32ef7.519531"]]},{"id":"b9eded99.6f72d","type":"dgram","z":"b9621a9e.3e7f58","name":"","host":"predictd","port":"1210","x":310,"y":160,"wires":[["e0a9d315.46744"]]},{"id":"6f32ef7.519531","type":"change","z":"b9621a9e.3e7f58","name":"packet","rules":[{"t":"set","p":"payload","pt":"msg","to":"'GET_TLE '&msg.req.params.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":240,"wires":[["b9eded99.6f72d"]]},{"id":"e0a9d315.46744","type":"function","z":"b9621a9e.3e7f58","name":"jsonify","func":"const payload = {\n    \"name\": msg.req.params.name,\n    \"tle\":msg.payload\n}\nreturn {...msg, payload};","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["db5da92b.d530e8"]]},{"id":"e6b2eac9.2d5c08","type":"http in","z":"f80f822c.f2f4c","name":"","url":"satellites/:name/pos","method":"get","upload":false,"swaggerDoc":"","x":220,"y":100,"wires":[["695ca27d.8ff25c"]]},{"id":"d6e4b163.4f096","type":"dgram","z":"f80f822c.f2f4c","name":"","host":"predictd","port":"1210","packet":"","x":390,"y":140,"wires":[["95a42298.4288b"]]},{"id":"695ca27d.8ff25c","type":"change","z":"f80f822c.f2f4c","name":"packet","rules":[{"t":"set","p":"payload","pt":"msg","to":"'GET_SAT_POS '&msg.req.params.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":220,"wires":[["3c3f4be4.497834"]]},{"id":"849ffe76.cac55","type":"function","z":"cb9f0e4f.f11e4","name":"jsonify","func":"function parse(x){\n    const val = Number.parseFloat(x);\n    return Number.isNaN(val) ? x : val;\n}\n\nconst delimiter = ' ';\n\n\nconst props = [\"utc\", undefined, undefined, undefined, \"el\", \"az\", \"orbitalPhase\", \"lat\", \"lon\", \"range\", undefined, \"visibility\"];\nconst items = msg.payload.split(delimiter).map(parse);\n\nmsg.payload = {};\n\nprops.forEach((prop,i)=>{\n   if(prop) msg.payload[prop]=items[i];\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["e621861c.11b258"]]},{"id":"c0d79bc2.654a58","type":"http in","z":"655cb106.81203","name":"","url":"satellites/:name/predict","method":"get","upload":false,"swaggerDoc":"","x":170,"y":80,"wires":[["92915fe2.aa72f"]]},{"id":"f1a6956.1308568","type":"http response","z":"655cb106.81203","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":730,"y":100,"wires":[]},{"id":"6c958547.438adc","type":"dgram","z":"655cb106.81203","name":"","host":"predictd","port":"1210","packet":"","x":190,"y":340,"wires":[["1f3815d8.41ceea"]]},{"id":"92915fe2.aa72f","type":"change","z":"655cb106.81203","name":"packet","rules":[{"t":"set","p":"payload","pt":"msg","to":"'GET_SAT '&msg.req.params.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":90,"y":180,"wires":[["cefff512.d83b68"]]},{"id":"3c3f4be4.497834","type":"function","z":"f80f822c.f2f4c","name":"add-start-end","func":"const packet = [msg.payload];\nconst query = msg.req.query;\n\n['start', 'end'].forEach(param => {\n    if(query[param]){\n     packet.push(query[param]);\n   }\n});\n\nreturn {...msg, payload:packet.join(' ')};","outputs":1,"noerr":0,"x":380,"y":60,"wires":[["d6e4b163.4f096"]]},{"id":"375313a2.edceec","type":"http response","z":"f80f822c.f2f4c","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":710,"y":100,"wires":[]},{"id":"db5da92b.d530e8","type":"http response","z":"b9621a9e.3e7f58","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":630,"y":120,"wires":[]},{"id":"578538fc.160dd8","type":"http response","z":"d434c563.5549e8","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":570,"y":80,"wires":[]},{"id":"9e17d425.ffef38","type":"http response","z":"261b320.5b442ce","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":590,"y":80,"wires":[]},{"id":"942474bb.d9d498","type":"http response","z":"8f28c878.9b4398","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":630,"y":100,"wires":[]},{"id":"565c3cb9.88d5f4","type":"http response","z":"9558b132.5865d","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":690,"y":80,"wires":[]},{"id":"121301a1.c43e0e","type":"http response","z":"c2f8291c.676488","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":610,"y":140,"wires":[]},{"id":"79eb0d25.5fa304","type":"http response","z":"cfc9a21e.fb6a7","name":"","statusCode":"","headers":{},"x":810,"y":100,"wires":[]},{"id":"6c0cbc0e.bd5f84","type":"http in","z":"cfc9a21e.fb6a7","name":"","url":"events","method":"get","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["9cffe38b.d0816"]]},{"id":"91df959e.0be368","type":"dgram","z":"cfc9a21e.fb6a7","name":"","host":"predictd","port":"1210","packet":"GET_LIST","x":130,"y":260,"wires":[["fb45b22e.b020d"]]},{"id":"9cffe38b.d0816","type":"change","z":"cfc9a21e.fb6a7","name":"packet","rules":[{"t":"set","p":"payload","pt":"msg","to":"GET_LIST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":160,"wires":[["91df959e.0be368"]]},{"id":"7f02f1a3.00fb3","type":"split","z":"cfc9a21e.fb6a7","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":220,"wires":[["fff64788.291308"]]},{"id":"c3ca95bb.c69c18","type":"join","z":"cfc9a21e.fb6a7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":180,"wires":[["cb9fe356.6afaf"]]},{"id":"beb4123f.a8c53","type":"dgram","z":"cfc9a21e.fb6a7","name":"","host":"predictd","port":"1210","packet":"","x":350,"y":400,"wires":[["11728889.61cc67"]]},{"id":"fff64788.291308","type":"change","z":"cfc9a21e.fb6a7","name":"packet","rules":[{"t":"set","p":"payload","pt":"msg","to":"'GET_SAT '&payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":300,"wires":[["beb4123f.a8c53"]]},{"id":"fb45b22e.b020d","type":"function","z":"cfc9a21e.fb6a7","name":"trim","func":"msg.payload = msg.payload.trim();\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":360,"wires":[["7f02f1a3.00fb3"]]},{"id":"11728889.61cc67","type":"function","z":"cfc9a21e.fb6a7","name":"jsonify","func":"const items = msg.payload.trim('\\n').split('\\n');\nconst props = \"name,lon,lat,az,el,nextEvent,footprint,range,altitude,velocity,orbitNum,visibility,orbitalPhase,eclipseDepth,squint\".split(',');\n\nmsg.payload = {};\n\nprops.forEach((prop,i)=>{\n    const val = Number.parseFloat(items[i]);\n    if(Number.isNaN(val)){\n        msg.payload[prop]=items[i];\n    }else{\n        msg.payload[prop]=val;\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":480,"wires":[["576fafca.1e0da"]]},{"id":"576fafca.1e0da","type":"function","z":"cfc9a21e.fb6a7","name":"partial-response","func":"if(msg.req.query.fields){\n    const payload = {}\n    const fields = msg.req.query.fields.split(',');\n    fields.forEach(key=>{\n        payload[key]=msg.payload[key];\n    })\n    msg.payload = payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["251b4bb1.37a044"]]},{"id":"cb9fe356.6afaf","type":"function","z":"cfc9a21e.fb6a7","name":"filter","func":"msg.payload = msg.payload.filter(x=>x.nextEvent>0);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["79eb0d25.5fa304"]]},{"id":"251b4bb1.37a044","type":"function","z":"cfc9a21e.fb6a7","name":"epoch-to-js","func":"msg.payload.nextEvent *= 1e3;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":320,"wires":[["c3ca95bb.c69c18"]]},{"id":"c8132a61.634118","type":"function","z":"9558b132.5865d","name":"jsonify","func":"const items = msg.payload.trim('\\n').split('\\n');\nconst props = \"name,lon,lat,az,el,nextEvent,footprint,range,altitude,velocity,orbitNum,visibility,orbitalPhase,eclipseDepth,squint\".split(',');\n\nmsg.payload = {};\n\nprops.forEach((prop,i)=>{\n    const val = Number.parseFloat(items[i]);\n    if(Number.isNaN(val)){\n        msg.payload[prop]=items[i];\n    }else{\n        msg.payload[prop]=val;\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["ab1858a.15ab3a8"]]},{"id":"ab1858a.15ab3a8","type":"function","z":"9558b132.5865d","name":"epoch-to-js","func":"msg.payload.nextEvent *= 1e3;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["1a0db78.7f13549"]]},{"id":"cdb215dd.b54788","type":"function","z":"9558b132.5865d","name":"partial-response","func":"if(msg.req.query.fields){\n    const payload = {}\n    const fields = msg.req.query.fields.split(',');\n    fields.forEach(key=>{\n        payload[key]=msg.payload[key];\n    })\n    msg.payload = payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":160,"wires":[["565c3cb9.88d5f4"]]},{"id":"1a0db78.7f13549","type":"function","z":"9558b132.5865d","name":"west-to-east-lon","func":"msg.payload.lon *= -1;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["cdb215dd.b54788"]]},{"id":"6f6e6f7b.f5884","type":"split","z":"cb9f0e4f.f11e4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":270,"y":160,"wires":[["c2d05f13.32e05"]]},{"id":"a81119fc.60ced8","type":"join","z":"cb9f0e4f.f11e4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":140,"wires":[[]]},{"id":"e621861c.11b258","type":"function","z":"cb9f0e4f.f11e4","name":"west-to-east-lon","func":"msg.payload.lon *= -1;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["4027f722.6f22c8"]]},{"id":"5745b428.f0ca6c","type":"function","z":"cb9f0e4f.f11e4","name":"trim","func":"msg.payload = msg.payload.trim();\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["6f6e6f7b.f5884"]]},{"id":"c2d05f13.32e05","type":"function","z":"cb9f0e4f.f11e4","name":"collapse whitespace","func":"msg.payload = msg.payload.replace(/\\s+/g, ' ');\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":240,"wires":[["849ffe76.cac55"]]},{"id":"4027f722.6f22c8","type":"function","z":"cb9f0e4f.f11e4","name":"epoch-to-js","func":"msg.payload.utc *= 1e3;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["a81119fc.60ced8"]]},{"id":"46015fdc.ad1eb","type":"change","z":"655cb106.81203","name":"packet","rules":[{"t":"set","p":"payload","pt":"msg","to":"'PREDICT  '&msg.req.params.name&' '&msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":260,"wires":[["6c958547.438adc"]]},{"id":"cefff512.d83b68","type":"dgram","z":"655cb106.81203","name":"","host":"predictd","port":"1210","packet":"","x":430,"y":60,"wires":[["484ec3a7.03f9ec"]]},{"id":"484ec3a7.03f9ec","type":"function","z":"655cb106.81203","name":"extract next event","func":"const items = msg.payload.split('\\n');\nmsg.payload = items[5];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["46015fdc.ad1eb"]]},{"id":"95a42298.4288b","type":"subflow:cb9f0e4f.f11e4","z":"f80f822c.f2f4c","name":"position list to position array","env":[],"x":540,"y":300,"wires":[["375313a2.edceec"]]},{"id":"1f3815d8.41ceea","type":"subflow:cb9f0e4f.f11e4","z":"655cb106.81203","name":"","env":[],"x":440,"y":320,"wires":[["f1a6956.1308568"]]},{"id":"74eec396.1cd90c","type":"http in","z":"830bcc0c.f611a","name":"","url":"sdrs/:prop","method":"post","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["48f54584.5e2e0c"]]},{"id":"1156d50.6146c2b","type":"http response","z":"830bcc0c.f611a","name":"","statusCode":"","headers":{},"x":630,"y":100,"wires":[]},{"id":"48f54584.5e2e0c","type":"rtlsdr","z":"830bcc0c.f611a","name":"","x":310,"y":80,"wires":[["d0d7ecf4.d23c8"]]},{"id":"d0d7ecf4.d23c8","type":"dgram","z":"830bcc0c.f611a","name":"","host":"sdrd","port":"6020","packet":"","x":470,"y":80,"wires":[["1156d50.6146c2b"]]},{"id":"19f5a08d.8829cf","type":"http in","z":"8cdfa596.27d788","name":"","url":"streams/:stream/kill","method":"get","upload":false,"swaggerDoc":"","x":210,"y":120,"wires":[["b9298c47.4d3a3"]]},{"id":"7d0d5814.8db868","type":"http response","z":"8cdfa596.27d788","name":"","statusCode":"","headers":{},"x":590,"y":100,"wires":[]},{"id":"b9298c47.4d3a3","type":"http request","z":"8cdfa596.27d788","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://stream:8000/admin/killsource.xsl?mount=/{{{req.params.stream}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":260,"wires":[["7d0d5814.8db868"]]}]